pkgbase = calamares-dev
	pkgdesc = Distribution-independent installer framework
	pkgver = 3.3.13
	pkgrel = 5
	url = https://github.com/ctlos/calamares
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = boost
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = ninja
	makedepends = python-jsonschema
	makedepends = python-pyaml
	makedepends = python-unidecode
	makedepends = qt6-tools
	depends = boost-libs
	depends = ckbcomp
	depends = cryptsetup
	depends = doxygen
	depends = efibootmgr
	depends = gptfdisk
	depends = gtk-update-icon-cache
	depends = icu
	depends = kconfig
	depends = kcoreaddons
	depends = kcrash
	depends = ki18n
	depends = kparts
	depends = kpmcore
	depends = kservice
	depends = kwidgetsaddons
	depends = libpwquality
	depends = mkinitcpio-openswap
	depends = polkit-qt6
	depends = rsync
	depends = qt6-declarative
	depends = solid
	depends = squashfs-tools
	depends = yaml-cpp
	conflicts = calamares
	conflicts = calamares-net
	backup = usr/share/calamares/modules/bootloader.conf
	backup = usr/share/calamares/modules/displaymanager.conf
	backup = usr/share/calamares/modules/initcpio.conf
	backup = usr/share/calamares/modules/unpackfs.conf
	source = https://github.com/calamares/calamares/releases/download/v3.3.13/calamares-3.3.13.tar.gz
	source = git+https://github.com/ctlos/calamares#branch=dev
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = calamares-dev
